<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="rmqhost" value="rmqvm2.cloudapp.net"/>
    <add key="rmquser" value="rmq"/>
    <add key="rmqpassword" value="hdctest1"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=benaissancedev;AccountKey=JWyMFAamHxoW/XyCzwz2g5R5HIKHoGu32Mg4wU2XY7fvDTIt5hPrY4XJH5z556J0zzI2dyauVkS7dcOcX3ky4g==" />
  </appSettings>
</configuration>